<div class="action-log">
    <div class="page__title">
        Actions log
    </div>
    <div class="action-log__grid">
        <table>
            <tr>
                <th>Date/Time</th>
                <th>Action</th>
                <th>Website name</th>
                <th>Url</th>
            </tr>
            <tr>
                <td>21 Feb</td>
                <td>Add</td>
                <td>ynet</td>
                <td>http://ynet.co.il</td>
            </tr>
            <tr>
                <td>24 May</td>
                <td>Add</td>
                <td>cnn</td>
                <td>cnn.com</td>
            </tr>
            <tr>
                <td>21 Feb</td>
                <td>Add</td>
                <td>ynet</td>
                <td>http://ynet.co.il</td>
            </tr>
            <tr>
                <td>24 May</td>
                <td>Add</td>
                <td>cnn</td>
                <td>cnn.com</td>
            </tr>
        </table>
    </div>


</div>
