<div class="favorites-content">
    <table *ngIf="(favorites$ | async) as favorites">
        <tr>
            <th>Website name</th>
            <th>URL</th>
            <th></th>
        </tr>
        <tr *ngFor="let favorite of favorites | searchFilter:filterTxt">
            <td class="name">{{favorite.websiteName}}</td>
            <td class="url">{{favorite.url}}</td>
            <td> 
                <div class="float-action">
                    <div class="float-action-botton" (click)="edit(favorite)"><i class="far fa-edit"></i></div>
                    <div class="float-action-botton"><i class="far fa-trash-alt" (click)="delete(favorite)"></i></div>
                </div>  
            </td>
        </tr>
    </table>
</div>




