<div class="favorites-content">

    
    <table>
        <tr>
            <th>Website name</th>
            <th>URL</th>
            <th></th>
        </tr>
        <tr>
            <td class="name">Ynet</td>
            <td class="url">http://ynet.co.il</td>
            <td> 
                <div class="float-action">
                    <div class="float-action-botton"><i class="far fa-edit"></i></div>
                    <div class="float-action-botton"><i class="far fa-trash-alt"></i></div>
                </div>  
            </td>
        </tr>
        <tr>
            <td class="name">cnn</td>
            <td class="url">cnn.com</td>
            <td> 
                <div class="float-action">
                    <div class="float-action-botton"><i class="far fa-edit"></i></div>
                    <div class="float-action-botton"><i class="far fa-trash-alt"></i></div>
                </div>  
            </td>
        </tr>
        <tr>
            <td class="name">Ynet</td>
            <td class="url">http://ynet.co.il</td>
            <td> 
                <div class="float-action">
                    <div class="float-action-botton"><i class="far fa-edit"></i></div>
                    <div class="float-action-botton"><i class="far fa-trash-alt"></i></div>
                </div>  
            </td>
        </tr>
        <tr>
            <td class="name">cnn</td>
            <td class="url">cnn.com</td>
            <td> 
                <div class="float-action">
                    <div class="float-action-botton"><i class="far fa-edit"></i></div>
                    <div class="float-action-botton"><i class="far fa-trash-alt"></i></div>
                </div>  
            </td>
        </tr>
    </table>
    
    

</div>




