

.float-action {    
    display: flex;    
    justify-content: flex-end;
    visibility: hidden; 
}

tr:hover .float-action {
    visibility: visible;
}

.float-action-botton {
    margin: 0.25em;
    cursor: pointer;

}

th:first-of-type {
    width:30%;
}

th:last-of-type {
    width: 20%;
}