body {
    min-width: 550px;
}



.main {
    display: flex;    
    height: 100%;  
    min-width: 400px;
}


@media (max-width: 1000px){
    .main{
        flex-direction: column;
    }
}

.main-nav {
    background-color: var(--bg-secondary);
    padding-top: var(--main-margin-top);
    white-space: nowrap;
}


@media (max-width: 1000px){
    .main-nav {
        padding-top:0; 
    }
    .main-nav ul{
        display: flex;
    }
}

.main-nav li {
    list-style: none;    
}

.main-nav a {
    display: block;
    text-decoration: none;    
    padding: 0.7em 1.5em;    
    color: var(--color-secondary);
}

.main-nav a:hover, .main-nav a:focus, .active {
    color: var(--color-secondary-invert);
    background-color: var(--bg-secondary-invert);
}

.main-content {
    margin-top: var(--main-margin-top);
    padding-left: 1em;      
    padding-right: 1em;
}

.app-my-modal-background {
    background-color:rgba(85, 84, 84, 0.877);;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}