<div class="favorites">
    <div class="favorites-header">
        <div class="favorites-header--title">Favorite sites</div>
        <div class="search">
            <input type="text" placeholder="Filter by web site or url" #search>
            <div><i class="fas fa-search-plus"></i></div>
        </div>
        <div class="actions-toolbar">
            <div class="btn" (click)="toggle('TILES')" *ngIf="isGrid"><i class="fas fa-border-none"></i></div>
            <div class="btn" (click)="toggle('GRID')"  *ngIf="!isGrid"><i class="fas fa-list"></i></div>       
            <div class="btn" (click)="addNewWebsite()"><i class="fas fa-plus"></i>Add</div>
        </div>
     </div>   
     <div classs="favorites-content">
        <router-outlet></router-outlet>
     </div>    
</div>

<!---------------------------------------------------------
                 Add Dialog                             
----------------------------------------------------------->
<ng-template #addWebsite>
    <div class="add-dialog">        
            <div class="dialog">
                    <div class="dialog__header">
                        Add new website
                    </div>
                    <div class="dialog__content">
                        <label>Website name<input type="text" [(ngModel)]="websiteName"></label>
                        <label>URL<input type="text" [(ngModel)]="url"></label>
                    </div>
                    <div class="dialog__footer">
                        <div class="btn" (click)="submit()" >Add website</div>
                        <div class="btn" (click)="closeNewAddDialog()">Cancle</div>
                    </div>                
            </div>        
    </div>
</ng-template>
<ng-content *ngIf= "!displayAddDialog; else addWebsite">        
</ng-content>


