<div class="my-modal">
    <div class="my-modal__header">
        Edit website
    </div>
    <div class="my-modal__content">
        <label> Website name
            <input type="text" required   [(ngModel)]="data.websiteName">
        </label>
        <label> Url
            <input type="text" required   [(ngModel)]="data.url">
        </label>
    </div>
    <div class="my-modal__footer">
        <div class="btn" (click)="save() " [ngClass]="{'btn--disabled':!isValid() }">Save changes</div>
        <div class="btn" (click)="cancel()">Cancel</div>
    </div>



</div>

