<div class="tiles-content" *ngIf="(favorites$ | async  | searchFilter:filterTxt) as favorites ">
    <div class="card" *ngFor="let favorite of favorites">
        <div class="card-internal">
            <img [src]="favorite.img" alt="">
            <div class="name">
                {{favorite.websiteName}}
            </div>
            <div class="float-action">
                <div class="float-action-botton"><i class="far fa-edit"></i></div>
                <div class="float-action-botton"><i class="far fa-trash-alt"></i></div>
            </div>    
        </div>
    </div>
</div>


