*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-margin-top: 1em;
    --bg-primary: white;
    --bg-secondary: gray;
    --bg-secondary-invert: #222;
    --bg-hover:lightsteelblue;

    --color-primary: black;
    --color-secondary: white;
    --color-secondary-invert:gray;

}


body {
    height: 100vh;    
    width: 100vw;
}

.w-100 {
    width: 100%;
}

table{ 
    width: 100%;
    border-spacing: 0;
}

 th {
    text-align: left;
}
 th,  tr:not(:last-of-type) td {
    border-bottom: 1px solid black;
}

  tr:hover td {
    background-color: var(--bg-hover);
}

